<%- include('partials/head') %>
    <div class="container">
        <br />
        <h1>Welcome to the Pokemon Store</h1>
        <p>
            This is my project about pokemon made using Express.js, Bootstrap and MongoDB.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae
            veniam doloremque veritatis accusantium saepe sed deserunt voluptatem,
            laudantium, aspernatur quasi illo officia sequi nisi quaerat, eaque sit
            maxime! Aut.
        </p>
        <br />
    </div>

    <hr />
    <br />

    <div class="container">
        <div class="row row-cols-2 row-cols-md-4 row-cols-xl-6 4-5" id="container1">
            <% for(pokemon of pokedex){%>
                <div class="col">
                    <div class="card" style="width: 25 rem">
                        <img src="<%= pokemon.image %>" alt="No Image Found" class="card-img-top" />
                        <h5 class="card-title bg-dark text-center text-light">  <%=pokemon.name   %>                   </h5>

                        <div class="btn-group">
                            <a href="/<%=pokemon.id%>" class="btn btn-danger active" aria-current="page">About</a>
                            <a href="#" class="btn btn-primary active">+</a>
                            <a href="#" class="btn btn-primary">
                                    -
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>