<%- include('partials/head') %>

  <body>
    <div class="container">
      <h1>
        <%= pokemon.name %>
      </h1>
      <img src="<%= pokemon.image %>" alt="No Image Found">
      <h3>Types: <%= pokemon.type %>
      </h3>
      <br>
      <hr>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="/">All Products</a></li>
        </ul>
      </nav>
    </div>



  </body>

  </html>